# Qt Creator
*.user
*.orig

# CLion
.idea/
cmake-build-*/

# VS Code
.vscode/

# Generic build directory
build/

# In-source build artifacts
CMakeFiles/
CMakeDirectoryInformation.cmake
progress.marks

# Dataset
data/

# qmake
.obj/
Makefile
